<div>
    <div class="card card1" id="firstLayout">
        <h1>Welcome Client!</h1>
        <p>If you are already signed in it will log you in with your email.</p>
        <form action="/createClient" method="POST" id="clientForm">
            <div class="mb-3">
                <label for="name" class="form-label">Enter your name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="your name...">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Enter your email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="your email...">
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Enter your address</label>
                <input type="text" name="address" class="form-control" id="address" placeholder="your address...">
            </div>

            <button type="submit" class="btn btn-primary">Signup or Login</button>
        </form>
    </div>