<h1 id="header">Choose Who you are?</h1>
<hr>
<div class="container container1">
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-secondary">
        <a href="/client">Client</a>
      </button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-secondary">
        <a href="/merchant">Merchant</a>
      </button>
    </div>
    <div class="col-sm">
      <button type="button" class="btn btn-secondary">
        <a href="/driver">Driver</a>
      </button>
    </div>
  </div>
</div>